:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

body {
  background-color: #040918;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

img {
  width: 300px;
  height: 400px;
}

.container {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  height: 650px;
  width: 600px;
  background-color: #191c29;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

a {
  color: rgb(88 199 250 / 100%);
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  color: hotpink;
  transition: ease;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 500px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 499px;
  transition: 0.4s ease-out;
}

iframe {
  position: absolute;
  top: 150px;
  left: 20px;
  height: 490px;
  width: 500px;
  overflow-x: hidden;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.neonBtn {
  color: var(--clr-neon);
  display: inline-block;
  margin: 80px auto;
  cursor: pointer;
  display: flex;
  width: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0, 0%, 100%), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: background-color 100ms linear;
}

.neonBtn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 0.7;
}

.neonBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.neonBtn:hover::before {
  opacity: 1;
}

.neonBtn:hover,
.neonBtn:focus {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.neonBtn:hover::after {
  opacity: 1;
}

/**/
